n8n-webhook-config.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2c9ff6b7-9a39-4fdd-9113-00ea306442fc",
        "responseMode": "responseNode",
        "options": {
          "cors": {
            "enabled": true,
            "origin": "https://dependente-plan-form.vercel.app"
          }
        }
      },
      "id": "webhook-node",
      "name": "Webhook Cadastro",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "2c9ff6b7-9a39-4fdd-9113-00ea306442fc"
    },
    {
      "parameters": {
        "functionCode": "// Processar dados do formulário\nconst dados = $input.first().json;\n\n// Validar dados obrigatórios\nif (!dados.titular || !dados.dependentes) {\n  return {\n    success: false,\n    message: 'Dados incompletos',\n    error: 'MISSING_DATA'\n  };\n}\n\n// Validar origem\nconst allowedOrigins = [\n  'https://dependente-plan-form.vercel.app',\n  'https://dependente-plan-form-git-main.vercel.app'\n];\n\nconst origin = $input.first().headers['origin'];\nif (origin && !allowedOrigins.includes(origin)) {\n  return {\n    success: false,\n    message: 'Origem não autorizada',\n    error: 'UNAUTHORIZED_ORIGIN'\n  };\n}\n\n// Validar headers obrigatórios\nconst requiredHeaders = ['x-requested-with', 'x-form-source'];\nconst headers = $input.first().headers;\n\nfor (const header of requiredHeaders) {\n  if (!headers[header]) {\n    return {\n      success: false,\n      message: 'Headers obrigatórios ausentes',\n      error: 'MISSING_HEADERS'\n    };\n  }\n}\n\n// Simular processamento do cadastro\nconst cadastroId = 'cad_' + Date.now();\nconst timestamp = new Date().toISOString();\n\n// Log dos dados recebidos\nconsole.log('Dados recebidos:', {\n  timestamp,\n  cadastroId,\n  titular: dados.titular,\n  dependentes: dados.dependentes.length,\n  plano: dados.plano,\n  customerStripe: dados.customerStripe\n});\n\n// Retornar resposta de sucesso com redirecionamento\nreturn {\n  success: true,\n  message: 'Cadastro realizado com sucesso! Você será redirecionado em instantes.',\n  redirect: 'https://sua-empresa.com/sucesso?id=' + cadastroId,\n  data: {\n    id: cadastroId,\n    status: 'processando',\n    proximo_passo: 'Aguardando confirmação',\n    timestamp: timestamp,\n    plano: dados.plano,\n    dependentes: dados.dependentes.length\n  }\n};"
      },
      "id": "process-node",
      "name": "Processar Cadastro",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://dependente-plan-form.vercel.app"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-Requested-With, X-Form-Source, X-Timestamp"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-node",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Cadastro": {
      "main": [
        [
          {
            "node": "Processar Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Cadastro": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:30:00.000Z",
  "versionId": "1"
}
